[submodule "content/themes/casper"]
	path = content/themes/casper
	url = ../../TryGhost/Casper.git
	branch = main
[submodule "core/client"]
	path = core/client
	url = https://github.com/nlaha/Admin
	branch = main
[submodule "bar1"]
	branch = branch1
